{% extends 'home.html' %}

{% block title %}subject{% endblock title %}

{% block substyle %}
<style>
    .t_list {
        border: 2px solid rgb(2, 90, 39);
    }

    .t_list a{
        color: #243665;
        text-decoration: none;
    }
</style>
{% endblock substyle %}

{% block body %}
<div class="container">

    <div class="card">

        <h3 class="card-header text-center">
            {{s_name|capfirst}}
        </h3>

    </div>

    {% if has_set %}
    <div class="card mt-2 t_list">
        <div class="card-body" style="background-color: #8BD8BD; color: #243665; text-decoration: none;">
            <ul>
                {% for d in data %}
                {% if not d.topic.published %}
                <li>
                    {{d.topic.topic_name | capfirst}}... {{d.topic.dateOfUpload|date:"d/m/Y"}} <span
                        class="badge badge-danger">coming
                        soon</span>
                </li>
                {% elif d.done %}
                <li>
                    <a href="../paper/paper_res/{{d.topic.id}}">
                        {{d.topic.topic_name | capfirst}}... {{d.topic.dateOfUpload|date:"d/m/Y"}}
                    </a>
                    <span class="badge badge-success">
                        result
                    </span>
                </li>
                {% else %}
                <li>
                    <a href="../paper/description/{{d.topic.id}}">
                        {{d.topic.topic_name | capfirst}}... {{d.topic.dateOfUpload|date:"d/m/Y"}}
                    </a>
                    <span class="badge badge-primary">Go to Exam</span>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    {% else %}
    <div class="card mt-2">
        <div class="card-body text-center font-weight-bold" style="background-color: #8BD8BD; color: #243665;">
            No Question set has been published yet on this subject
        </div>
    </div>
    {% endif %}
</div>
{% endblock body %}