{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>mark sheet</title>
    <style>
        .home {
            position: absolute;
            top: 10px;
            left: 10px;
            display: inline;
        }

        .badge-primary {
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div class="home">
        <a class="btn btn-info" href="http://127.0.0.1:8000/timeline">Home</a>
    </div>

    <div class="container">
        <div class="text-center m-3">
            <span class="text-success h3">
                {{tname | capfirst}}
            </span>
        </div>

        <div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">right</th>
                        <th scope="col">wrong</th>
                        <th scope="col">not answered</th>
                        <th scope="col">total</th>
                        <th scope="col">mark</th>
                        <th scope="col">percentage</th>
                        <th scope="col">remark</th>
                        <th scope="col">rank</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ res.right }}</td>
                        <td>{{ res.wrong }}</td>
                        <td>{{ res.notA }}</td>
                        <td>{{ res.total }}</td>
                        <td>{{ res.mark }}</td>
                        <td>{{ res.perc }}</td>
                        {% if res.rem %}
                        <td class="text-success">Passed</td>
                        {% else %}
                        <td class="text-danger">Failed</td>
                        {% endif %}
                        <td>{{ rank }}/{{total}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <ol>
            {% for r in ans %}
            <li>
                <span class="font-weight-bold">{{r.ques}}</span>

                {% if r.obj %}
                <span data-id="{{r.q_id}}" class="badge badge-primary text-wrap">raise objection</span><br>
                {% else %}
                <br>
                {% endif %}

                <span data-rans="{{r.ans}}">right answer : {{r.ans}}</span><br>
                <span data-uans="{{r.user}}">user given : {{r.user}}</span><br>
                {% if r.rem %}
                <span class="text-success font-weight-bold">remark : Right </span>
                {% elif r.rem is None %}
                <span class="text-muted font-weight-bold">remark : not answered </span>
                {% else %}
                <span class="text-danger font-weight-bold">remark : Wrong </span>
                {% endif %}
            </li>
            {% endfor %}
        </ol>

    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script> -->
    <script src="{% static 'js/jquery.3.5.1.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script>
        $(document).ready(function () {

            $(".badge-primary").on("click", function () {
                $(this).text('objection send');
                // $(this).removeClass("badge-primary");
                // $(this).addClass("badge-secondary");
                var q_id = $(this).attr("data-id");
                console.log(q_id);
                $badge = $(this);

                // $("li>span").each(function () {

                // })

                user_ans = $(this).siblings("span[data-uans]").attr("data-uans");
                right_ans = $(this).siblings("span[data-rans]").attr("data-rans");

                $.ajax({
                    url: location.origin + "/objections/send",
                    type: 'GET',
                    data: {
                        'ques_id': q_id,
                        'u_ans': user_ans,
                        'r_ans': right_ans,
                    }, success: function (data) {
                        $badge.removeClass("badge-primary");
                        $badge.addClass("badge-secondary");
                    }, error: function (error) {
                        console.log('err', error);
                    }

                })
            });

        });
    </script>
</body>

</html>