{% extends 'home.html' %}

{% block title %}timeline{% endblock title %}

{% block infoStyle %}
<style>
    .info-text {
        color: red;
        font-size: .7rem;
    }
</style>
{% endblock infoStyle %}

{% block body %}
<div class="container">
    <div class="card text-center">
        <h4>
            {{user.username|capfirst}}
        </h4>
        <div class="row my-2">
            <div class="col">
                <a href="../myprofile">My profile</a>
            </div>
            <div class="col">
                <a href="../objections">Objections</a>
            </div>
            <div class="col">
                <a href="../logout">log out</a>
            </div>
        </div>
    </div>
    <div class="card mt-2">
        <div class="card-title m-2">
            <h5>
                Latest Exams : <span class="info-text font-weight-light">* question papers are uploaded everyday after
                    6pm.</span>
            </h5>
        </div>
        <div>
            {% for d in data %}
            <ul>
                {% if not d.topic.published %}
                <li>
                    {{d.topic.topic_name}}... {{d.topic.dateOfUpload|date:"d/m/Y"}} <span
                        class="badge badge-danger">coming
                        soon</span>
                </li>
                {% elif d.done %}
                <li>
                    {{d.topic.topic_name}}... {{d.topic.dateOfUpload|date:"d/m/Y"}} <a
                        href="../paper/paper_res/{{d.topic.id}}">result</a>
                </li>
                {% else %}
                <li>
                    {{d.topic.topic_name}}... {{d.topic.dateOfUpload|date:"d/m/Y"}} <a
                        href="../paper/description/{{d.topic.id}}">click here</a>
                </li>
                {% endif %}
            </ul>
            {% endfor %}
            <div class="card-title ml-4">
                {% if latest %}
                <a href="../latest">see more...</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="card mt-2">
        <div class="card-body">
            <span class="font-weight-bold">
                Note :
            </span><br>
            <span>
                ** If anyone face any problem related to exam please contact me in facebook : <a
                    href="https://www.facebook.com/sherlock.mondal" target="_blank">Click here</a>
            </span><br>
        </div>
    </div>
</div>
{% endblock body %}